@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --background-color: #EAE7DC;
  --text-color: #535251;
  --white-color: #ffffff;
  --text-secondary-color: #bdbcb9;
  --highlight-color: #E85A4F;
  --button-color: #E85A4F;
  --button-hover-color: #E98074;
}


.swiper-button-next,
.swiper-button-prev {
  color: var(--highlight-color) !important;
}


.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;;

}

.grid-item {
  padding: 5px;
}

.xs-12 {
  width: 100%;
}

.xs-6 {
  width: 50%;
}

@media screen and (min-width: 500px) {
  .sm-12 {
    width: 100%;
  }

  .sm-6 {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .md-12 {
    width: 100%;
  }

  .md-3 {
    width: 25%;
  }

  .md-4 {
    width: 33.33%;
  }

  .md-6 {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .lg-12 {
    width: 100%;
  }

  .lg-4 {
    width: 33.33%;
  }

  .lg-3 {
    width: 25%;
  }

  .lg-6 {
    width: 50%;
  }
}